/* Enter your custom styles here */
/* Enter your custom styles here */
.marginClass {
    border-radius: 44px;
}
.sapMITBSelected.sapMITBFilterPositive .sapMITBContentArrow::after {
    background: mediumpurple;
}

.headerClass .sapMBtnContent {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: top;
    line-height: 2.375rem;
    color: white !important;
}

.headerClassBtn .sapMBtnContent {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: top;
    line-height: 2.375rem;
    color: white !important;
    background-color: purple !important;
}

.sapMITBSelected.sapMITBFilterPositive .sapMITBContentArrow::before {
    background: mediumpurple;
}

.sapMComboBoxBase.sapMInputBaseHasEndIcons .sapMInputBaseInner {
    flex: 1;
    border-right: 0px !important;
}

.sapUiTableHeaderDataCell .sapMText,
.sapMColumnHeader .sapMText {
    font-weight: bold !important;
    font-size: 0.975rem !important;
    color: white;
}

.sapSuiteUiCommonsMicroProcessFlowItemSeparator {
    height: 1px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    flex-grow: 1;
}

.classPurpledot1 .sapSuiteUiCommonsMicroProcessFlowItemSeparator {
    height: 2px !important;
    background-color: #841dbd !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    flex-grow: 1;
}

.classPurpledot2 .sapSuiteUiCommonsMicroProcessFlowItemSeparator {
    height: 2px !important;
    background-color: #841dbd !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    flex-grow: 1;
}

.classPurpledot1 .sapSuiteUiCommonsMicroProcessFlowItem {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 0px solid #841dbd !important;
    color: rgb(85 107 130 / 10%) !important;
    background-color: #ffffff !important;
    display: none;
    align-items: center;
    justify-content: center;
}

.sapMITBSepIcon {
    font-size: 1.6rem;
    height: 2.75rem;
    line-height: 2.75rem;
    padding: 0 0.25rem;
    color: mediumpurple;
}

.sapMITBHorizontal.sapMITBFilter+.sapMITBSep {
    margin-top: 0.125rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.sapMITBFilterPositive {
    color: mediumpurple;
    border-color: mediumpurple;
}

.sapMITBSelected .sapMITBFilterPositive {
    background: mediumpurple;
    color: #fff;
}

.whiteText {
    color: #fff !important;
}

.sapMITBText {

    font-size: large !important;
    color: mediumpurple !important;
    margin-top: -6px !important;

}

.btnclass .sapMBtnInner.sapMBtnText {
    padding-left: 0.4375rem;
    padding-right: 0.4375rem;
    background-color: mediumpurple;
    color: white;
}

.dilgtilte .sapMTitle {
    color: mediumpurple !important;
    font-weight: bolder;
    margin: 0;
    vertical-align: middle;
}

.dilgtilte .sapUiFormTitle {
    height: 2rem;
    color: mediumpurple !important;
    font-weight: bolder;
}

.wlcmTxt {
    font-weight: bolder;
    text-align: CENTER;
    font-size: x-large;
    color: mediumpurple;
}

.whiteText {
    color: black;
    margin-left: 73px;
}

.BlackText {
    color: black !important;
    margin-left: 73px;
}

.pageBgColorWhite {
    background-color: white !important;
}

.sapMInputBaseInner {
    background: white !important;
    border: 1px solid gray !important;
    /* border-radius: 5px !important; */
    border: none;
    font-style: normal;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    font-size: .875rem;
    font-family: "72", "72full", Arial, Helvetica, sans-serif;
    color: #32363a;
    line-height: normal;
    padding: 0 0.625rem;
    height: 100%;
    box-sizing: border-box;
    min-width: 2.75rem;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: inherit;
}

.paddingClass {
    padding: 2%;
    margin-right: 2%
}

.backgroundclass {
    background-size: cover !important;
    background: url(image/background.jpg) no-repeat;
    border-radius: 5rem;
    margin: 1rem;
}

.backgroundshadow {
    background: white;

}

.blackTheme {
    /*border-radius: 15px;*/
    height: 100%;
    width: 94%;
    /* background-size: cover !important;
    background: url(image/background.jpg) no-repeat; */
    background-color: #29282800;
    /*box-shadow: 9px -13px #758ca470;*/


}

.searchField .sapMSFF {
    background: #00000021;
    border-radius: 2.25rem;
}

.overflow {
    overflow: hidden;

    flex-wrap: wrap;
}

.labelRed {

    border-radius: 8px;
    position: relative;
    background-color: #cccccc;
    display: block;
    height: 74px;
    width: 95px;
    margin-top: 1rem;
    margin-left: 4rem;
    /* background: url(http://i.imgur.com/evpC48G.png); */
    background-size: contain;
    text-decoration: none;
}

.labelRed1 {
    position: absolute;
    left: 143px;
    top: 6px;
    color: #fff;
    z-index: 33;
    background-color: red;
    border-radius: 15px;
    padding: 4px;

}

.bottombackground {
    background-color: #152333;
    padding-left: 2rem;
    padding-right: 2rem;
}

.BackgroundColor {
    background-color: white !important;
    border-left: 29px solid #152333;
    border-top: 29px solid #152333;
    border-right: 29px solid #152333;
    height: 87% !important;
}

/*.myButtonStyle:hover {*/

/*    background-color: red !important;*/

/*}*/
.vendorCss .sapSuiteUiCommonsMicroProcessFlowItemSeparatorWrapper {
    position: relative;
    width: 20rem !important;
}

.suplierCss .sapSuiteUiCommonsMicroProcessFlowItemSeparatorWrapper {
    position: relative;
    width: 5rem !important;
}

.sapMTableTH {
    background: #841dbd;
    border-bottom: 1px solid #e5e5e5;
    vertical-align: middle;
}

.sapUiTableHeaderDataCell .sapMText,
.sapMColumnHeader .sapMText {
    font-weight: normal;
    font-size: .875rem;
    color: white;
}



.sapMVBox {
    flex-direction: column;
    padding: 4px;
}

.button1,
.button1.sapMBtnInner,
.button1.sapMBtnBase,
.button1 .sapMBtnHoverable {
    background: #841dbd !important;
    border: #841dbd !important;
    border-radius: 11px;
}

.classPurpledot .sapSuiteUiCommonsMicroProcessFlowItem {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid #841dbd !important;
    color: #841dbd !important;
    background-color: #841dbd !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sapMInputBase {
    height: 2.5rem;
    background: transparent;
    position: relative;
    display: inline-block;
    vertical-align: top;
    outline: none;
    box-sizing: border-box;
    line-height: 0;
}

.header2 .sapMBtnContent {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: top;
    line-height: 2.375rem;
    color: white !important;
}

.sapMInputBase:not(.sapMInputBaseReadonly) .sapMInputBaseIconContainer .sapMInputBaseIcon {
    width: 2.25rem;
    height: 2.38rem;
    border-radius: 0rem;
}

.sapMInputBaseIcon {
    width: 2.25rem;
    min-width: 2.5rem;
    height: 100%;
    line-height: 2.5rem;
    cursor: pointer;
    background: white;
    border-top: 1px solid gray;
    border-radius: 0rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border-right: 1px solid gray;
}

.sapUxAPAnchorBar.sapMTB {
    border: none;
    background: #841dbd !important;
    box-shadow: none;
}

.sapUiSizeCompact .sapUxAPAnchorBar .sapUxAPAnchorBarButton .sapMSB.sapMSBTransparent .sapMBtnContent,
.sapUxAPAnchorBar .sapUxAPAnchorBarButton .sapMSB.sapMSBTransparent .sapMBtnContent,
.sapUiSizeCompact .sapUxAPAnchorBar .sapUxAPAnchorBarButton .sapMBtnInner .sapMBtnContent,
.sapUxAPAnchorBar .sapUxAPAnchorBarButton .sapMBtnInner .sapMBtnContent,
.sapUiSizeCompact .sapUxAPAnchorBar .sapUxAPAnchorBarButton .sapMSB.sapMSBTransparent .sapMBtnIcon,
.sapUxAPAnchorBar .sapUxAPAnchorBarButton .sapMSB.sapMSBTransparent .sapMBtnIcon,
.sapUiSizeCompact .sapUxAPAnchorBar .sapUxAPAnchorBarButton .sapMBtnInner .sapMBtnIcon,
.sapUxAPAnchorBar .sapUxAPAnchorBarButton .sapMBtnInner .sapMBtnIcon {
    color: #ebedef !important;
    font-family: "72", "72full", Arial, Helvetica, sans-serif;
    font-size: 0.875rem;
    height: 2.5rem;
    line-height: 2.75rem;
}


.sapUxAPAnchorBar.sapUxAPAnchorBarScrollRight .anchorBarArrowRight,
html[dir=rtl] .sapUxAPAnchorBar.sapUxAPAnchorBarScrollLeft .anchorBarArrowLeft {
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #841dbd36 25%, #841dbd 100%) !important;
}

.sapUxAPAnchorBar.sapUxAPAnchorBarScrollLeft .anchorBarArrowLeft,
html[dir=rtl] .sapUxAPAnchorBar.sapUxAPAnchorBarScrollRight .anchorBarArrowRight {
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #841dbd36 25%, #841dbd 100%)
}

.sapUiSizeCompact .sapUxAPAnchorBar .sapUxAPAnchorBarButton.sapUxAPAnchorBarButtonSelected .sapMBtnDefault .sapMBtnContent::after,
.sapUxAPAnchorBar .sapUxAPAnchorBarButton.sapUxAPAnchorBarButtonSelected .sapMBtnDefault .sapMBtnContent::after {
    content: "";
    position: absolute;
    width: 100%;
    top: 2.5rem;
    left: -0.188rem;
    padding: 0.094rem 0.188rem;
    border-top-left-radius: 0.125rem;
    border-top-right-radius: 0.125rem;
    background-color: white !important;
}

.subButton1,
.subButton1.sapMBtnInner,
.subButton1.sapMBtnBase,
.subButton1 .sapMBtnHoverable {
    background: #303c54 !important;
    border: #303c54 !important;
    border-radius: 11px;
}



/* Enter your custom styles here */